body {
  margin: 0;
}
.header-container {
  width: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: gray;
  z-index: 99;
}
.logo {
  background-image: url("./06577d261edb9ec.png");
  width: 100px;
  height: 100px;
  cursor: pointer;
}
menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}
menu li button {
  padding: 0 4px;
  margin-right: 4px;
  width: 150px;
  height: 100px;
  background-color: gray;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  color: black;
  font-weight: bold;
  font-size: 18px;
}
menu li button:hover {
  background-color: darkgray;
  cursor: pointer;
  border-radius: 5px;
}

